@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none !important;
    list-style-type: none !important;
}

.font_worksans {
    font-family: 'Work Sans', sans-serif;
}

.font-800 {
    font-weight: 800;
}

.font-700 {
    font-weight: 700;
}

.font-600 {
    font-weight: 600;
}

.font-400 {
    font-weight: 400;
}

/* ..................line-height.................... */
.line-h71 {
    line-height: 45.76px;
}

.line-h46 {
    line-height: 46.92px;
}

.line-h36 {
    line-height: 36.96px;
}

.line-h30 {
    line-height: 30.76px;
}

.line-h27 {
    line-height: 27.95px;
}

.line-h26 {
    line-height: 26.93px;
}

.line-h24 {
    line-height: 24.64px;
}

.line-h23 {
    line-height: 23.46px;
}

.line-h21 {
    line-height: 21.53px;
}

.line-h18 {
    line-height: 18.77px;
}

/* ............max-w.............. */

.max-w484 {
    max-width: 484px;
}

.max-w257 {
    max-width: 257px;
}

.max-w218 {
    max-width: 218px;
}

.opacity_70 {
    opacity: 70%;
}

/* ......................................header-section.................................. */

.bg-image1 {
    background-image: url("../images/headerbg-image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed;
    height: 100%; */
}

.py-128 {
    padding-top: 30px;
    padding-bottom: 103px;
}

.max-w443 {
    max-width: 443px;
}

.max-w1140{
    max-width: 1140px;
}

/* .max-w729 {
    max-width: 729px;
} */

.btn-sumbit {
    padding: 12px 38px;
    background: linear-gradient(96.64deg, var(--fc-linear-orange1) 13.58%, var(--fc-linear-orange2) 86.99%);
    border-radius: 30.5px;
    border: 1px solid var(--fc-linear-orange1);
    transition: 1s;
}

.btn-sumbit:hover {
    background: var(--fc-white);
    color: var(--fc-linear-orange1);
}

.pb-30 {
    padding-bottom: 30px;
}

/* .............................section-2 about-us.................. */
.gradient-text {
    background-image: linear-gradient(96.64deg, var(--fc-linear-orange1), var(--fc-linear-orange2)86.99%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;

}

.gradient-text {
    position: relative;
}

.line-1::after {
    content: "";
    width: 44px;
    height: 1px;
    position: absolute;
    margin-left: 12px;
    top: 10px;
    background: linear-gradient(96.64deg, var(--fc-linear-orange1) 13.58%, var(--fc-linear-orange2) 86.99%);
}

.pt_12 {
    padding-top: 12px;
}

.pb_14 {
    padding-bottom: 14px;
}
/* ........................................section-3-features.......................... */
.bg-clr1{
    background: var(--fc-primary-white);

}
.min-h320{
    min-height: 320px
}
.w_1453{
    max-width: 1453;
}
.card-box{
    border-radius: 8px;
    max-width: 293px;
    min-height: 293px;
    padding: 39px 18px;
    box-shadow: 0px 4px 66px 0px var(--fc-white-shadow);
    background: var(--fc-white);
}
.circle1{
    width: 87px;
    height: 87px;
   border-radius: 50px;
    box-shadow: 0px 4px 17px 0px var(--fc-shadow2);
    background: linear-gradient(96.64deg, var(--fc-linear-orange1) 13.58%, var(--fc-linear-orange2) 86.99%);
}
.pt_30{
    padding-top: 30px;
}
.pt_10{
    padding-top: 10px;
}
.pt_78{
    padding-top: 78px;
}





@media(max-width:991.99px) {
    .iconbox {
        width: 30px;
        height: 25px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: 15;
        cursor: pointer;
    }

    .iconbox>span {
        width: 100%;
        height: 4px;
        background-color: var(--fc-black);
        border-radius: 5px;
    }

    .menulist {
        display: flex;
        justify-content: center;
        position: fixed;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        top: 0;
        z-index: 11;
        left: -100%;
        transition: all 500ms linear;
        background-color: var(--fc-white);
    }

    .overflowhidden {
        overflow: hidden !important;
    }
}

@media(min-width:576px) {
    .pb-sm-59 {
        padding-bottom: 40px;
    }

    .py-128 {
        padding-top: 60px;
        padding-bottom: 103px;
    }

    .line-h71 {
        line-height: 71.76px;
    }
}

@media(min-width:768px) {
    .py-128 {
        padding-top: 80px;
        padding-bottom: 103px;
    }
}

@media(min-width:992px) {
    .py-128 {
        padding-top: 128px;
        padding-bottom: 103px;
    }

    .absolute1 {
        position: absolute;
        top: 49%;
        left: 5%;
    }

    .pb-sm-59 {
        padding-bottom: 59px;
    }

    .max-w453 {
        max-width: 453px;
    }
}

@media(min-width:1200px) {
    .absolute1 {
        position: absolute;
        top: 49%;
        left: 12%;
    }
}

@media(min-width:1400px) {
    .absolute1 {
        position: absolute;
        top: 49%;
        left: 17%;
    }
}