@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none !important;
    list-style-type: none !important;
}

.font_worksans {
    font-family: 'Work Sans', sans-serif;
}

.font-800 {
    font-weight: 800;
}

.font-700 {
    font-weight: 700;
}

.font-600 {
    font-weight: 600;
}

.font-400 {
    font-weight: 400;
}

/* ..................line-height.................... */
.line-h71 {
    line-height: 45.76px;
}

.line-h46 {
    line-height: 46.92px;
}

.line-h36 {
    line-height: 36.96px;
}

.line-h30 {
    line-height: 30.76px;
}

.line-h27 {
    line-height: 27.95px;
}

.line-h26 {
    line-height: 26.93px;
}

.line-h24 {
    line-height: 24.64px;
}

.line-h23 {
    line-height: 23.46px;
}

.line-h21 {
    line-height: 21.53px;
}

.line-h18 {
    line-height: 18.77px;
}

/* ............max-w.............. */

.max-w257 {
    max-width: 257px;
}

.max-w218 {
    max-width: 218px;
}

.opacity_70 {
    opacity: 70%;
}

/* ......................................header-section.................................. */

.bg-image1 {
    background-image: url("../images/headerbg-image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed;
    height: 100%; */
}

.py-128 {
    padding-top: 30px;
    padding-bottom: 103px;
}

.max-w443 {
    max-width: 443px;
}

.max-w1140 {
    max-width: 1140px;
}

.home {
    transition: 0.2s;
}

.home:hover {
    color: var(--fc-linear-orange1);
    text-shadow: 0 0.3px .80px var(--fc-white), 0 0.3px .80px;
}

.bt-line1::after {
    content: "";
    width: 0%;
    height: 1.5px;
    position: absolute;
    background: var(--fc-linear-orange1);
    bottom: 0;
    left: 0;
    transition: 0.2s;
}

.bt-line1:hover::after {
    width: 100%;
}

.svg1 {
    transition: 0.2s;
}

.svg1:hover path {
    fill: var(--fc-linear-orange1);
}

.btn-sumbit {
    padding: 12px 38px;
    background: linear-gradient(96.64deg, var(--fc-linear-orange1) 13.58%, var(--fc-linear-orange2) 86.99%);
    border-radius: 30.5px;
    border: 1px solid var(--fc-linear-orange1);
    transition: 1s;
}

.btn-sumbit:hover {
    background: var(--fc-white);
    color: var(--fc-linear-orange1);
}

.pb-30 {
    padding-bottom: 30px;
}

/* .............................section-2 about-us.................. */
.gradient-text {
    background-image: linear-gradient(96.64deg, var(--fc-linear-orange1), var(--fc-linear-orange2)86.99%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;

}

.gradient-text {
    position: relative;
}

.line-1::after {
    content: "";
    width: 44px;
    height: 1px;
    position: absolute;
    margin-left: 12px;
    top: 10px;
    background: linear-gradient(96.64deg, var(--fc-linear-orange1) 13.58%, var(--fc-linear-orange2) 86.99%);
}

.pt_12 {
    padding-top: 12px;
}

.pb_14 {
    padding-bottom: 14px;
}

.pb_21 {
    padding-bottom: 21px;
}

/* ........................................section-3-features.......................... */
.bg-clr1 {
    background: var(--fc-primary-white);

}

.h_210 {
    height: 100px
}

.w_1453 {
    max-width: 1453;
}

.card-box {
    border-radius: 8px;
    max-width: 293px;
    width: 100%;
    min-height: 293px;
    padding: 39px 18px;
    box-shadow: 0px 4px 66px 0px var(--fc-white-shadow);
    background: var(--fc-white);
    transition: 1s;
}

.circle1 {
    width: 87px;
    height: 87px;
    border-radius: 50px;
    box-shadow: 0px 4px 17px 0px var(--fc-shadow2);
    background: linear-gradient(96.64deg, var(--fc-linear-orange1) 13.58%, var(--fc-linear-orange2) 86.99%);
}

.pt_30 {
    padding-top: 30px;
}

.pt_10 {
    padding-top: 10px;
}

.absolute2 {
    position: absolute;
    bottom: 0;
    right: 0;
}

.absolute3 {
    position: absolute;
    bottom: 0;
    right: 0;
}

.card-box {
    transition: 0, 5s;
}

.card-box:hover {
    background: linear-gradient(96.64deg, var(--fc-linear-orange1) 13.58%, var(--fc-linear-orange2) 86.99%);
    transform: translateY(-20px);
    cursor: pointer;
}

.card-box:hover .circle1 {
    background: var(--fc-white);
}

.card-box:hover .text_hover {
    color: var(--fc-white);
}

.card-box:hover svg path {
    fill: url(#gradient);
}

.py-48 {
    padding-top: 48px;
    padding-bottom: 48px;
}

.pt_40 {
    padding-top: 40px;
}

.btn-signup {
    padding: 12px 37px;
    background: linear-gradient(96.64deg, var(--fc-linear-orange1) 13.58%, var(--fc-linear-orange2) 86.99%);
    border-radius: 30.5px;
    border: 1px solid var(--fc-linear-orange1);
    transition: 1s;
    margin-top: 43px;
}

.btn-signup:hover {
    background: var(--fc-white);
    color: var(--fc-linear-orange1);
}

.shadow-circle {
    box-shadow: 0px 4px 17px 0px var(--fc-shadow3);
    box-shadow: 0px 4px 17px 0px #8256F066;
}

/* ...........................slider-section........................................ */
.slider-box {
    border-radius: 8px !important;
    box-shadow: 0px 4px 66px 0px var(--fc-white-shadow);
    background: var(--fc-white);
    max-width: 1016px;
    /* margin-bottom: 15px;
    min-height: 489px; */
}
.slick-slide {
    height: inherit !important;
}
.slick-track {
    display: flex !important;
    margin-bottom: 30px;
    margin-top: 40px;
    gap: 20px !important;
}
/* .mt_40 {
    margin-top: 40px;
} */

.pt_34 {
    padding-top: 34px;
}

.btn-buynow {
    padding: 12px 37px;
    background: linear-gradient(96.64deg, var(--fc-linear-orange1) 13.58%, var(--fc-linear-orange2) 86.99%);
    border-radius: 30.5px;
    border: 1px solid var(--fc-linear-orange1);
    transition: 1s;
    margin-bottom: 38px;
}

.btn-buynow:hover {
    background: var(--fc-white);
    color: var(--fc-linear-orange1);
}

.slick-slide>div {
    display: flex;
}

.prew-btn {
    display: none !important;
}

.next-btn {
    display: none !important;
}
.slick-dots {
    position: absolute;
    bottom: -35px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}


@media(max-width:991.99px) {
    .iconbox {
        width: 30px;
        height: 25px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: 15;
        cursor: pointer;
    }

    .iconbox>span {
        width: 100%;
        height: 4px;
        background-color: var(--fc-black);
        border-radius: 5px;
    }

    .menulist {
        display: flex;
        justify-content: center;
        position: fixed;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        top: 0;
        z-index: 11;
        left: -100%;
        transition: all 500ms linear;
        background-color: var(--fc-white);
    }

    .overflowhidden {
        overflow: hidden !important;
    }

    .flex_wrap {
        flex-wrap: wrap;
    }
         /* .slick-dots {
             display:block!important;
         } */
}

@media(min-width:576px) {
    .pb-sm-59 {
        padding-bottom: 40px;
    }

    .py-128 {
        padding-top: 60px;
        padding-bottom: 103px;
    }

    .line-h71 {
        line-height: 71.76px;
    }

    .py-md-90 {
        padding-top: 90px;
        padding-bottom: 90px;
    }

    .pt_sm_78 {
        padding-top: 78px;
    }
    .slick-track{
        margin-top: 78px !important;
    }
  
}

@media(min-width:768px) {
    .py-128 {
        padding-top: 80px;
        padding-bottom: 103px;
    }
}

@media(min-width:992px) {
    .py-128 {
        padding-top: 128px;
        padding-bottom: 103px;
    }

    .pb-sm-59 {
        padding-bottom: 59px;
    }

    .max-w453 {
        max-width: 453px;
    }

    .py-md-90 {
        padding-top: none;
        padding-bottom: none;
    }

    .absolute1 {
        position: absolute;
        top: 49%;
        left: 8%;
    }

    .absolute4 {
        position: absolute;
        right: 14%;
        top: 24%;
    }

    .absolute5 {
        position: absolute;
        left: 0;
        bottom: 39%;
    }

    .absolute6 {
        top: 29%;
        position: absolute;
        right: 12%
    }

    .absolute6 {
        top: 8%;
        position: absolute;
        right: 6%
    }

    .max-w484 {
        max-width: 484px;
    }


}

@media(min-width:1100px) {
    .absolute1 {
        position: absolute;
        top: 49%;
        left: 12%;
    }
}

@media(min-width:1200px) {

    .h_210 {
        height: 210px
    }

    .absolute4 {
        position: absolute;
        right: 20%;
        top: 29%;
    }

    .absolute5 {
        position: absolute;
        left: 5%;
        bottom: 39%;
    }

    .slick-dots {
        display: none !important;
    }

    .prew-btn {
        border-radius: 50px;
        border: none;
        position: absolute;
        top: 56%;
        left: -3%;
        display: block !important;
    }

    .next-btn {
        position: absolute;
        top: 56%;
        right: -3%;
        border-radius: 50px;
        border: none;
        display: block !important;
    }
}

@media(min-width:1400px) {

    .absolute4 {
        position: absolute;
        right: 22%;
        top: 29%;
    }

    .absolute5 {
        position: absolute;
        left: 13%;
        bottom: 39%;
    }

    .prew-btn {
        left: -6%;
    }

    .next-btn {
        right: -6%;
    }
}

@media(min-width:1750px) {
    .absolute4 {
        position: absolute;
        right: 28%;
        top: 29%;
    }

    .absolute5 {
        position: absolute;
        left: 18%;
        bottom: 39%;
    }

    /* .prew-btn{
        left: 18%;
    }
    .next-btn{
        right: 18%;
    } */
}